* {
	box-sizing: border-box;
}
body {
	margin:0;
	padding: 0;
}
section {
	height: 100vh;
}
.section {
	text-align: center;
	padding: 10%;
}
.white {
	height: 100vh;
	background-color: white;
}